
        <div class="page-data">
            
            <form method="post" action="/em/add">
                <table cellpadding="11">
                <tr>
                    <td class="label">Link</td><td>: <textarea type="text" name="Link" required maxlength="255"></textarea></td>
                 </tr>
                 <tr>
                    <td class="label" valign="top">DisplayLink</td><td valign="top">: <textarea name="DisplayLink" required maxlength="50"></textarea></td>
                </tr>
                <tr>
                    <td class="label">Description</td><td>: <textarea type="text" name="Description"  maxlength="150" required></textarea></td>
                 </tr>
                  <tr>
                    <td class="label">Type</td><td>: <input type="text" name="Type"  maxlength="10" required></td>
                 </tr>
				    <tr>
                    <td class="label">isDisplayed</td><td>: <input type="text" name="isDisplayed"  maxlength="5" required></td>
                 </tr>
					<tr>
                    <td class="label">Rank</td><td>: <input type="text" name="Rank"  maxlength="11" ></td>
                 </tr>
				      <tr>
                    <td class="label">PicLink</td><td>: <textarea type="text" name="PicLink"  maxlength="255" ></textarea></td>
                 </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                         <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
